<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Редактирование</title>
</head>
<body>
<div class="container">
    <h2>Редактирование</h2>
    <br>
    <form method="post">
        <div class="form-group">
            <label for="nameModel">Name model</label>
            <input type="text" th:value="${electronic.getNameModel()}" class="form-control" name="nameModel"
                   id="nameModel" placeholder="Enter name model">
            <br>
        </div>
        <div class="form-group">
            <label for="nameCompany">Name company</label>
            <input type="text" th:value="${electronic.getNameCompany()}" class="form-control" name="nameCompany"
                   id="nameCompany" placeholder="Enter name company">
            <br>
        </div>
        <div class="form-group">
            <label for="cost">Cost</label>

            <input type="number" th:value="${electronic.getCost()}" class="form-control" name="cost" id="cost"
                   placeholder="Enter cost">
            <br>
        </div>
        <button type="submit" class="btn btn-outline-secondary">Редактировать</button>
        <a class="btn btn-primary" href="/" role="button">Отменить</a>
    </form>
</div>
</body>
</html>